html,body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Helvetica;
}

header{
  background-color: white;
  width: 100%;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo img{
  width: 90px;

}


nav{
  padding: 10px;
  display: inherit;
  align-items: center;

}

nav ul{
  display: inherit;
  align-items: : center;
}

nav li{
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  padding-left:10px;
  padding-right: 10px;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 20px;
}

nav li a{
  text-decoration: none;
  color: #5B5B5B;
}

nav li a:hover{
  color: #047AFF;
}

/* Aqui comienza el cuerpo  */


/* Portada section */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.Portada{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../imagenes/portada-image.jpg") ;
  background-size: cover;
  height: 510px;
  width: 100%;
}

@media only screen and (max-width:700px){

 .Portada{
   background-size: 650px 510px;
 }

}



/* .Portada img{
  border-radius: 15px;
  width: 800px;
  height: 450px;
  object-fit: cover;
} */

.title_box{
  width: 100%;
  height: 120px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}


h1{
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}


@media only screen and (max-width:700px){
  h1{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
  }

  #conocenos{

    font-size: 30px;
  }



}

.title_box p{
  color: black;
  font-size: 40px;
  margin-top: 0;
  font-family: sans-serif;
}

/* Para resaltar texto */

.resaltar{
  font-weight: bold;
}

/* Conocenos */

.menu ul{
  list-style: none;
  text-decoration: none;
  padding: 0;
}

#buttons-list{
  display: flex;
  justify-content: center;
}

.menu{
  position: relative;
  margin-top: -50px;
}

.button-conocenos{
  background-color: #173275;
  border: none;
  color: white;
  font-weight: bold;
  padding: 20px 25px;
  text-align: center;
  font-size: 25px;
  margin-top: 0;
}

.button-conocenos:hover{
  background-color: white;
  color: #173275;
}

.button-conocenos:focus{
  background-color: white;
  color: #173275;
}


.conocenos-quienes-somos{
  display: flex;
  justify-content: center;
  font-size: 20px;
}

@media only screen and (max-width:700px){
  .conocenos-quienes-somos{
    padding: 5px 5px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
  }
  .conocenos-quienes-somos p{
    padding: 10px;
  }

  .button-conocenos{
    font-size: 15px;
  }

}

.conocenos-quienes-somos p{
  align-self: center;
}

#quienes-somos-imagen img{
  width: 270px;
  border-radius: 5px;
  margin: 10px;
}
/* Aqui empieza la sección de misión  */
#conocenos-second-button-mision{
  display: none;
}

.imagen-articles{
  /* width: 240px; */
  height: 250px;
  border-radius: 10px;
  /* object-fit: cover; */
  width: 250px !important;
}



.vision_image_container {
  width: 270px;
  margin: 10px;
}

.mision-vision{
  display: flex;
  width: 50%;
  font-size: 15px;
  padding: 0px  10px;
}

.mision-vision p{
  align-self:center;

}

/* Para todos los h3 */
h3{ font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

#hijo-conocenos-padre-de-mision-y-vision{
  display: flex;
}

@media only screen and (max-width:700px){
  #hijo-conocenos-padre-de-mision-y-vision{
    flex-direction: column;
    align-items: center;
  }
  .mision-vision{
    flex-direction: column;
    font-size: 20px;
    width: 70%;
  }
  .mision-vision-title{
    font-size: 35px;
  }

}
/* Aqui se acaba misión y vision */


/* Aqui empieza la sección de beneficios */
#conocenos-third-button-servicios{
  display: none;
}

.beneficios_section{
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.beneficios-articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  padding: 5px 10px;
  margin: 10px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 1px 0px 15px black;
}

.beneficios-articles img{
  width: 100px;
  margin-bottom: 10px;

}

@media only screen and (max-width:700px){
  .beneficios_section{
    flex-direction: column;
    align-items: center;
  }
}

/* Animacion cuando se pone el cursor */
.beneficios-articles img:hover{
  animation-name: spin;
  animation-duration: 2s;
}



@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.beneficios-articles h3{
  text-align: center;
  color: #173275;
}

.beneficios-articles ul li{
  margin: 5px 0px;
}

/* ______________________Aqui acaba la seccion de Conocenós */
/* Aqui empiezan los servicios */


#servicios{
  align-self: flex-start;
  display: flex;

  margin-top: 50px;
  background-color: #173275;
  width: 100%;
  flex-direction: column;
}

.servicios-presentación{
  display: flex;
  font-size: 25px;
}

.servicios-presentación-container-img{
  display: flex;
  height: 100%;
  align-self: center;
  justify-content: center;
}

.servicios-presentación-container-img img{
  margin-left: 10px;


}

@media only screen and (max-width:700px){
  .servicios-presentación{
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  #imagen_pres_serv{
    width: 80%;
    margin-top: 15px;

  }

}

.servicios-presentación img{
  width: 500px;
  border-radius: 10px;
}

@media only screen and (max-width:700px){
  .servicios-presentación{
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  .servicios-presentación img{
    width: 400px;
    border-radius: 10px;
  }
}

.texto_servicios{
  color: white;
  padding: 0px 10px;
}

.texto_servicios h3{
  font-size: 50px;
  margin: 5px 0px;;
  color: white;
  font-weight: bolder;
}


/* estilos de servicios opciones  */

.servicios-opciones{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* height: 370px; */
}

.caja-servicios-opciones{
  width: 300px;
  height: 370px;
  margin: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: white;
  transition: width 2s,height 2s;
}


@media only screen and (max-width: 700px){
  .servicios-opciones{
    /* padding-top: 10px; */

    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



    /* height: 370px; */
  }
  .caja-servicios-opciones{
    width: 300px;
    height: 370px;
    margin: 90px 0px;
    margin-bottom: 120px;

  }
}


.caja-servicios-opciones:hover{
  width: 320px;
  height: 390px;
}


.caja-servicios-opciones figure img{
  width: inherit;
  border-radius: 10px;
}

.img-servicios-opciones{
  width: inherit;
}




.texto-servicios-opciones{
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #173275;
  margin-top: -30px;
  position: relative;
  width: inherit;
  box-sizing: border-box;
  height: inherit;
}

.texto-servicios-opciones h3{
  margin: 10px 5px;
}



.texto-servicios-opciones p{
  font-size: 15px;
  margin-bottom:0px;
}

.texto-servicios-opciones  ul li{
  font-size: 15px;
}
.texto-servicios-opciones ul{
  margin: 5px 0px;
}

.sub-elements{
  list-style-type: circle;
}



.button-servicios-opciones{
  width: 100px;
  background-color: white;
  border: none;
  color: #173275;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin: 15px;
}

.button-servicios-opciones:hover{
  background-color: #173275;
  color: white;
}

/* Aquicomienza la info escondida */

.hiden-info-opciones{
  /* margin-top: 10px; */
  z-index: 2;
  position: fixed;
  padding: 0;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  margin-top: 0;
  width: 100%;
}

.titulos-hide-info h3{
      margin: 10px 0px;
      border: none;
}

.info-hide-servicios{
  background-color: #1a80c4;
  color: #1c1c1c;
  width: 100%;
  position: absolute;
  top: -100px;
  height: 500px;
	overflow-y: scroll;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  border: 3px solid white;
  margin: 0;
}

.texto-hidden-info{
  font-size: 20px;
  border: none;
}

.titulos-hide-info{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.button-hide-info{
  display: inline;
  float: left;
  background-color: white;
  color:#047AFF;
  font-size: 20px;
  font-weight: bolder;
  padding: 3px 10px;
  border: none;
}



#dictaminacion-tecnica-hide{
    display: none;
    width: 90%;
    position: fixed;
    margin: 0;
}

#dictaminacion-pericial-hide{
    display: none;
    width: 90%;
    position: fixed;
    margin: 0;
}

#verificacion-tecnica-hide{
    display: none;
    width: 90%;
    position: fixed;
    margin: 0;
}


/* Empieza contacto section  */



.contact_section{
  margin-top: 200px;
  width: 100%;
  height: 300px;;
  background-color: #173275;
  display: grid;
  padding: 10px;
  /* grid-gap: 30px; */
  grid-template-areas: "title title"
                        "contact google_map"

}

.contact_title{
  color: white;
  font-size: 30px;
  font-weight: bold;
  grid-area: title;
}

.contact_content{
  grid-area: contact;
  color: white;
  font-size: 18px;

}
.contact_google_map{
  grid-area: google_map;
  display: flex;
  justify-content: center;

}

.contact_google_map iframe{
  height: 200px;
  border-radius: 5px;

}

@media only screen and (max-width: 700px){
  .contact_section{
    height: 80vh;

    /* grid-gap: 30px; */
    grid-template-areas: "title title"
                          "contact  contact"
                          "google_map  google_map"

  }
  .contact_google_map iframe{
    height: 200px;
    width: 70vw;
    border-radius: 5px;

  }
}
